.App {
  text-align: center;
}
.singleProduct {
  border: 1px solid black;
  height: auto;
  width: 80%;
  margin: auto;
  background-color: azure;

}
.catItem {
  width: 20%;
  margin: 20%;
  border: 2px solid green;
  display: inline;
}
#product_price{
  background-color: cadetblue;
}
#product_id{
  float: left;
  margin: 20px;
  border: 1px solid red;
  width: 5%;
}
#product_category{
  float: left;
  margin: 20px;
}
#product_description{
  background-color: violet;
  border-radius: 2px;
}
#product_img{
  height: 20%;
  width: 20%;
}
img:hover{
  transform: scale(1.02);
}
.categoryClass{
  border: 1px solid red;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: blue;
  text-decoration: none;
  font-size: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
